<template>
    <div class="add-service">
      <h1>Добавление улслуги</h1>
      <form @submit.prevent="submitForm()">
        <div class="input-group">
          <label for="serviceName">Название услуги</label>
          <input id="serviceName" v-model="serviceName" type="text" required>
        </div>
        <div class="input-group">
          <label for="description">Описание</label>
          <input id="description" v-model="description" type="text" required>
        </div>
        <div class="input-group">
          <label for="cost">Стоимость</label>
          <input id="cost" v-model="cost" type="number" min="1" required>
        </div>
        <button type="submit">Добавить</button>
      </form>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        serviceName: '',
        description: '',
        cost: '',
      };
    },
    methods: {
      submitForm() {
        const params = {
            'serviceName': this.serviceName,
            'description': this.description,
            'cost': this.cost,
        };
        axios.post('http://localhost:8080/vgrade/api/services/new-service', params, {
            headers: {
                'Content-Type': 'application/json'
            }
          }).then(() => {
                    this.$router.push('/admin/services');
                });
        }
      },
    };
  </script>
  
  <style scoped>
  .add-service {
    max-width: 600px;
    font-family: monospace, sans-serif;
    font-size: 1.7em;  
    margin: 0 auto;
    padding: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  </style>
  