<template>
    <div class="service-page">
        <h1>Страница сервиса</h1>
        <div v-for="(value, key) in service" :key="key" class="input-group">
            <input v-if="editField === key" v-model="service[key]" :id="key" class="edit-input" type="text">
            <p class="value" v-else v-if="key !== 'serviceId'">{{ value }}</p>
            <button v-if="editField === key" @click="saveField">Сохранить</button>
            <button v-if="editField === key" @click="cancelEdit">Отмена</button>
            <button v-else @click="editField = key" v-if="key !== 'serviceId'">Изменить</button>
        </div>
        <button @click="deleteService">Удалить</button>
    </div>
</template>
  
<script>
import axios from 'axios';

export default {
    data() {
        return {
            service: {},
            editField: null
        };
    },
    async created() {
        const serviceId = this.$route.params.id;
        const response = await axios.get(`http://localhost:8080/vgrade/api/services/${serviceId}`);
        this.service = response.data;
    },
    methods: {
        deleteService() {
            if (window.confirm('Вы уверены, что хотите удалить эту услугу?')) {
                axios.delete(`http://localhost:8080/vgrade/api/services/${this.service.serviceId}`)
                .then(() => {
                    this.$router.push('/admin/services');
                });
            }
        },  
        saveField() {
            const params = {
                [this.editField]: this.service[this.editField]
            }
            axios.patch(`http://localhost:8080/vgrade/api/services/${this.service.serviceId}`, params, {
                headers: {
                        'Content-Type': 'application/json'
                    }
                });
                console.log(this.service);
                this.editField = null;
            },
            cancelEdit(){
                this.editField = null;
            },
        },
    };
</script>
    
  <style scoped>
  .edit-input {
    width: 800px;
  }

  .service-page {
    font-family: monospace, sans-serif;
    font-size: 2em;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 20px;
  }
  .value{
    width: 800px;
  }
  
  .input-group {
    display: flex;
    margin-bottom: 4%;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }
  
  button {
    height: 80%;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  </style>
  