<template>
    <div class="topic">
        <h1 class="title">ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ</h1>
    </div>
    <div class="info">
        <h1 id="service-title">СПОРТ</h1>
        <h2>УСЛУГИ</h2>
    </div>
    <div class="table-container">
    <table>
        <thead>
        <tr>
          <th>Название услуги</th>
          <th>Описание</th>
          <th>Стоимость</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="service in services.content" :key="service.serviceName">
          <td>{{ service.serviceName }}</td>
          <td>{{ service.description }}</td>
          <td>{{ service.cost }}₽</td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="pagination">
              <button class="pagination-btn" @click="prevPage" :disabled="services.first"><</button>
              <span v-if="services.pageable">{{ services.pageable.pageNumber + 1 }} из {{ services.totalPages }} </span>
              <button class="pagination-btn" @click="nextPage" :disabled="services.last">></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'Services',
    data() {
    return {
      services: [],
    };
  },
  async created() {
    const response = await axios.get('http://localhost:8080/vgrade/api/services');
    this.services = response.data;
  },
  methods: {
    async fetchServices(page = 0) {
      const response = await axios.get(`http://localhost:8080/vgrade/api/services?page=${page}`);
      this.services = response.data;
    },
    nextPage() {
      this.fetchServices(this.services.number + 1);
    },
    prevPage() {
      this.fetchServices(this.services.number - 1);
    },
  },
}
</script>

<style scoped>

#service-title{
    -webkit-text-stroke: 1px black;
    font-family: monospace, sans-serif;
    left: 50%;
    top: 75%;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
    font-style: italic;
    font-weight: 900;
    color: white;
}
.info {
    font-size: 1.5em;
    align-items: center;
    text-align: center;
}
.info h2 {
    margin: 2em 0 0 0;
    font-style: italic;
    font-weight: 900;
    font-size: 3em;
    font-family: monospace;
}
  .pagination span {
    margin: 0 10px;
  }
  .pagination-btn {
    height: auto;
    width: 20px;
    font-size: 1.2em;
    background-color: #AB82FF;
    border: none;
  }

  .pagination {
    justify-content:end;
    display: flex;
    align-items: center;
    margin-right: 5%;
  }  

  .topic {
    justify-content: center;
    height: 600px;
    background-image: url("/src/assets/images/services/topicimg.png");
    box-shadow: 0 0 400px 200px rgb(0, 0, 0) inset;
  }

  .title {
    left: 13%;
    top: 30%;
    position: absolute;
    font-size: 9em;
    font-family: monospace;
    font-style: italic;
    font-weight: 900;
    color: #AB82FF;
  }

  .table-container {
    margin-top: 2em;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
    overflow-x: auto;
  }
  table {
    font-family: monospace, sans-serif;
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
    color: #fff;
  }

  th, td {
    padding: 15px;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #ac82ff3f;
  }
</style>