<template>
  <div class="info">
    <h2>УСЛУГИ</h2>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Название услуги</th>
          <th>Описание</th>
          <th>Стоимость</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="service in services.content" :key="service.serviceName">
          <router-link class="service-router" :to="`/admin/services/${service.serviceId}`">                
            <td>{{ service.serviceName }}</td>
          </router-link>
          <td>{{ service.description }}</td>
          <td>{{ service.cost }}₽</td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="pagination">
              <button class="pagination-btn" @click="prevPage" :disabled="services.first"><</button>
              <span v-if="services.pageable">{{ services.pageable.pageNumber + 1 }} из {{ services.totalPages }} </span>
              <button class="pagination-btn" @click="nextPage" :disabled="services.last">></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <router-link :to="'/admin/services/new'">
    <button class="new-service">
      Добавить услугу
    </button>
  </router-link>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Services',
  data() {
    return {
      services: [],
    };
  },
  async created() {
    const response = await axios.get('http://localhost:8080/vgrade/api/services');
    this.services = response.data;
  },
  methods: {
    async fetchServices(page = 0) {
      const response = await axios.get(`http://localhost:8080/vgrade/api/services?page=${page}`);
      this.services = response.data;
    },
    nextPage() {
      this.fetchServices(this.services.number + 1);
    },
    prevPage() {
      this.fetchServices(this.services.number - 1);
    },
  },
}
</script>

<style scoped>
  .info {
    font-size: 1.5em;
    align-items: center;
    text-align: center;
  }
  .info h2 {
    margin: 0.5em 0 0 0;
    font-style: italic;
    font-weight: 900;
    font-size: 3em;
    font-family: monospace;
  }
  .new-service{
    margin-left: 70%;
    margin-top: 2em;
    border: none;
    padding: 20px;
    background-color: black;
  }
  .service-router, .new-service{
    color: white;
    text-decoration: none;
  }
  
  .pagination span {
    margin: 0 10px;
  }
  .pagination-btn {
    height: auto;
    width: 20px;
    font-size: 1.2em;
    background-color: #AB82FF;
    border: none;
  }
  
  .pagination {
    justify-content:end;
    display: flex;
    align-items: center;
    margin-right: 5%;
  }  
  
  .table-container {
    margin-top: 2em;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
    overflow-x: auto;
  }
  table {
    font-family: monospace, sans-serif;
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
    color: #fff;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #ac82ff3f;
  }
</style>