<template>
    <div class="add-hall">
      <h1>Добавить новый зал</h1>
      <form @submit.prevent="submitForm">
        <div class="input-group">
          <label for="name">Название зала</label>
          <input id="name" v-model="name" type="text" required>
        </div>
        <div class="input-group">
          <label for="startWorkTime">Время открытия</label>
          <input id="startWorkTime" v-model="startWorkTime" type="time" required>
        </div>
        <div class="input-group">
          <label for="endWorkTime">Время закрытия</label>
          <input id="endWorkTime" v-model="endWorkTime" type="time" required>
        </div>
        <div class="input-group">
          <label for="cost">Стоимость (в рублях)</label>
          <input id="cost" v-model="cost" type="number" min="0" required>
        </div>
        <button type="submit">Добавить зал</button>
      </form>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        name: '',
        startWorkTime: '',
        endWorkTime: '',
        cost: '',
      };
    },
    methods: {
      submitForm() {
        const params = {
            'name': this.name,
            'startWorkTime': this.startWorkTime,
            'endWorkTime': this.endWorkTime,
            'cost': this.cost,
        };
        axios.post('http://localhost:8080/vgrade/api/halls/new-hall', params, {
            headers: {
                'Content-Type': 'application/json'
            }
          }).then(() => {
                    this.$router.push('/admin/halls');
                });
        }
      },
    };
  </script>
  
  <style scoped>
  .add-hall {
    max-width: 600px;
    margin: 0 auto;
    font-family: monospace, sans-serif;
    font-size: 1.7em;  
    padding: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  </style>
  