<template>
    <div class="hall-page">
        <h1>Страница зала</h1>
        <div v-for="(value, key) in hall" :key="key" class="input-group">
            <input v-if="editField === key" v-model="hall[key]" :id="key" class="edit-input" type="text">
            <p class="value" v-else v-if="key !== 'hallId' && key !== 'trainers'">{{ value }}</p>
            <button v-if="editField === key" @click="saveField">Сохранить</button>
            <button v-if="editField === key" @click="cancelEdit">Отмена</button>
            <button v-else @click="editField = key" v-if="key !== 'hallId' && key !== 'trainers'">Изменить</button>
        </div>
        <div class="trainers">
            <h2>Тренеры</h2>
            <ul>
                <li v-for="trainer in hall.trainers" :key="trainer.trainerId">
                    {{ trainer.lastName }} {{ trainer.firstName }} {{ trainer.patronymic }} - {{ trainer.expertise }}
                </li>
            </ul>
        </div>
        <button @click="deleteHall">Удалить</button>
    </div>
</template>
  
<script>
import axios from 'axios';

export default {
    data() {
        return {
            hall: {},
            editField: null
        };
    },
    async created() {
        const hallId = this.$route.params.id;
        const response = await axios.get(`http://localhost:8080/vgrade/api/halls/${hallId}`);
        this.hall = response.data;
    },
    methods: {
        deleteHall() {
            if (window.confirm('Вы уверены, что хотите удалить этот зал?')) {
                axios.delete(`http://localhost:8080/vgrade/api/halls/${this.hall.hallId}`)
                .then(() => {
                    this.$router.push('/admin/halls');
                });
            }
        },  
        saveField() {
            const params = {
                [this.editField]: this.hall[this.editField]
            }
            axios.patch(`http://localhost:8080/vgrade/api/halls/${this.hall.hallId}`, params, {
                headers: {
                        'Content-Type': 'application/json'
                    }
                });
                console.log(this.hall);
                this.editField = null;
            },
            cancelEdit(){
                this.editField = null;
            },
        },
    };
</script>
    
  <style scoped>
  .edit-input {
    width: 800px;
  }

  .hall-page {
    font-family: monospace, sans-serif;
    font-size: 2em;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 20px;
  }
  .value{
    width: 800px;
  }
  
  .input-group {
    display: flex;
    margin-bottom: 4%;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }
  
  button {
    height: 80%;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  </style>
