<template>
  <div class="info">
    <h2>ЗАЛЫ И ЗОНЫ</h2>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Название</th>
          <th>Время работы</th>
          <th>Стоимость</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="hall in halls.content" :key="hall.hallId">
          <router-link class="hall-router" :to="`/admin/halls/${hall.hallId}`">
            <td>
              {{ hall.name }}
            </td>
          </router-link>
          <td>{{ hall.startWorkTime }} - {{ hall.endWorkTime }}</td>
          <td>{{ hall.cost }}₽</td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="pagination">
              <button class="pagination-btn" @click="prevPage" :disabled="halls.first"><</button>
              <span v-if="halls.pageable">{{ halls.pageable.pageNumber + 1 }} из {{ halls.totalPages }} </span>
              <button class="pagination-btn" @click="nextPage" :disabled="halls.last">></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <router-link :to="`/admin/halls/new`">
    <button class="new-hall">
      Добавить зал
    </button>
  </router-link>
</template>

<script>
  import axios from 'axios';
  
  export default {
    name: 'Halls',
    data() {
      return {
        halls: [],
      };
    },
    async created() {
      const response = await axios.get('http://localhost:8080/vgrade/api/halls');
      this.halls = response.data;
    },
    methods: {
      async fetchHalls(page = 0) {
        const response = await axios.get(`http://localhost:8080/vgrade/api/halls?page=${page}`);
        this.halls = response.data;
      },
      nextPage() {
        this.fetchHalls(this.halls.pageable.pageNumber + 1);
      },
      prevPage() {
        this.fetchHalls(this.halls.pageable.pageNumber - 1);
      },
    },
  }
  </script>
  
  <style scoped>
    .info {
      font-size: 1.5em;
      align-items: center;
      text-align: center;
    }
    .info h2 {
    margin: 0.5em 0 0 0;
    font-style: italic;
    font-weight: 900;
    font-size: 3em;
    font-family: monospace;
  }
  .new-hall{
    margin-left: 70%;
    margin-top: 2em;
    border: none;
    padding: 20px;
    background-color: black;
  }
  .hall-router, .new-hall{
    color: white;
    text-decoration: none;
  }
  
  .pagination span {
    margin: 0 10px;
  }
  .pagination-btn {
    height: auto;
    width: 20px;
    font-size: 1.2em;
    background-color: #AB82FF;
    border: none;
  }
  
  .pagination {
    justify-content:end;
    display: flex;
    align-items: center;
    margin-right: 5%;
  }  
  
  .table-container {
    margin-top: 2em;
    margin-left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: 80%;
    overflow-x: auto;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
    color: #fff;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
  }
  
  tbody {
    font-family: monospace;
    font-size: 1.3em;
  }
  
  tr:nth-child(even) {
    background-color: #ac82ff3f;
  }
</style>