<template>
    <div class="topic">
        <h1 class="title">ЗАЛЫ И СЕКЦИИ</h1>
    </div>
    <div class="info">
        <h1 id="sport-title">СПОРТ</h1>
        <h2>ЗОНЫ</h2>
    </div>
    <div class="fitness-center">
      <div class="zone">
        <img src="/src/assets/images/halls/cardio.png" alt="КАРДИО ЗОНА">
        <h2>КАРДИО ЗОНА</h2>
      </div>
      <div class="zone">
        <img src="/src/assets/images/halls/training.png" alt="ТРЕНАЖЕРНЫЙ ЗАЛ">
        <h2>ТРЕНАЖЕРНЫЙ ЗАЛ</h2>
      </div>
      <div class="zone">
        <img src="/src/assets/images/halls/crossfit.png" alt="КРОССФИТ">
        <h2>КРОССФИТ</h2>
      </div>
      <div class="zone">
        <img src="/src/assets/images/halls/pool.png" alt="БАССЕЙН">
        <h2>БАССЕЙН</h2>
      </div>
      <div class="zone">
        <img src="/src/assets/images/halls/fight.png" alt="ЗОНА ЕДИНОБОРСТВ">
        <h2>ЗОНА ЕДИНОБОРСТВ</h2>
      </div>
    </div>
    <router-link to="/create-sub" class="join">ЗАПИСАТЬСЯ НА ЗАНЯТИЕ</router-link>
  </template>
  
  <script>
  export default {
    name: 'FitnessCenter',
  }
  </script>
  
<style scoped>
  .info {
    font-size: 1.5em;
    align-items: center;
    text-align: center;
  }
  .info h2 {
    margin: 2em 0 0 0;
    font-style: italic;
    font-weight: 900;
    font-size: 4em;
    font-family: monospace;
  }

  .title {
    left: 30%;
    top: 30%;
    position: absolute;
    font-size: 9em;
    font-family: monospace;
    font-style: italic;
    font-weight: 900;
    color: #AB82FF;
  }

  .topic {
    justify-content: center;
    height: 600px;
    background-image: url("/src/assets/images/halls/topicimg.png");
    box-shadow: 0 0 400px 200px rgb(0, 0, 0) inset;
  }

  .fitness-center {
    display: flex;
    font-family: monospace;
    font-style: italic;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5%;
  }
  
  .zone {
    width: 30%;
    margin-bottom: 20px;
  }
  
  .zone img {
    width: 100%;
  }
  
  .zone h2 {
    text-align: center;
  }
  
  .join {
    margin-left: 41.3%;
    background-color: black;
    font-size: 1.5em;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: monospace, sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  #sport-title{
    -webkit-text-stroke: 1px black;
    font-family: monospace, sans-serif;
    left: 50%;
    top: 75%;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
    font-style: italic;
    font-weight: 900;
    color: white;
  }
  </style>
  