<template>
  <div class="info">
      <h2>ФОРМИРОВАНИЕ АБОНЕМЕНТА</h2>
  </div>
  <form @submit.prevent="submitForm">
    <div class="sub-form">
      <div class="user-info">
        <label for="lastName">*Фамилия</label>
        <input id="lastName" v-model="lastName" type="text" placeholder="Фамилия" required>
        <label for="firstName">*Имя</label>
        <input id="fisrtName" v-model="firstName" type="text" placeholder="Имя" required>
        <label for="email">*Почта</label>
        <input id="email" v-model="email" type="text" placeholder="Email" required>
        <label for="countMonth">*Количество месяцев: </label>
        <input id="countMonth" v-model="countMonth" type="number" min=1 max=12 required>
        <label for="promoCode">Промокод</label>
        <input id="promoCode" v-model="promoCode" :disabled="promoStatus === true"  type="text">
        <button class="check-promo" @click="checkPromo" type="button">Применить промокод</button>
      </div>
      
      <div class="tables">
        <div class="table-container">
        <h2>Выбор зала</h2>
          <table>
            <thead>
              <tr>
                <th>Выбран</th>
                <th>Название</th>
                <th>Время работы</th>
                <th>Стоимость</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="hall in halls.content" :key="hall.hallId">
              <td><input type="checkbox" class="checkbox-input" :value="true" v-model="selectedHalls[hall.hallId]" /></td>
              <td>{{ hall.name }}</td>
              <td>{{ hall.startWorkTime }} - {{ hall.endWorkTime }}</td>
              <td>{{ hall.cost }}₽</td>
            </tr>
            <tr>
              <td colspan="4">
                <div class="pagination">
                  <button type="button" class="pagination-btn" @click="prevPageHall" :disabled="halls.first"><</button>
                  <span v-if="halls.pageable">{{ halls.pageable.pageNumber + 1 }} из {{ halls.totalPages }} </span>
                  <button type="button" class="pagination-btn" @click="nextPageHall" :disabled="halls.last">></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

        <div class="table-container">
          <h2>Выбор дополнительных услуг</h2>
          <table>
            <thead>
              <tr>
                <th>Выбран</th>
                <th>Название услуги</th>
                <th>Описание</th>
                <th>Стоимость</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="service in services.content" :key="service.serviceName">
                <td><input type="checkbox" class="checkbox-input" :value="true" v-model="selectedServices[service.serviceId]" /></td>
                <td>{{ service.serviceName }}</td>
                <td>{{ service.description }}</td>
                <td>{{ service.cost }}₽</td>
              </tr>
              <tr>
                <td colspan="4">
                  <div class="pagination">
                    <button type="button" class="pagination-btn" @click="prevPageService" :disabled="services.first"><</button>
                    <span v-if="services.pageable">{{ services.pageable.pageNumber + 1 }} из {{ services.totalPages }} </span>
                    <button type="button" class="pagination-btn" @click="nextPageService" :disabled="services.last">></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-container">
          <h2>Выбор тренеров</h2>
          <table>
            <thead>
              <tr>
                <th>Выбран</th>
                <th>ФИО</th>
                <th>Направление</th>
                <th>Опыт</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="trainer in trainers.content" :key="trainer.trainerId">
                <td><input type="checkbox" class="checkbox-input" :value="true" v-model="selectedTrainers[trainer.trainerId]" /></td>
                <td>{{ trainer.lastName }} {{ trainer.firstName }} {{ trainer.patronymic }}</td>
                <td>{{ trainer.expertise }}</td>
                <td>{{ trainer.experience }}</td>
              </tr>
              <tr>
                <td colspan="4">
                  <div class="pagination">
                    <button type="button" class="pagination-btn" @click="prevPageTrainer" :disabled="trainers.first"><</button>
                    <span v-if="trainers.pageable">{{ trainers.pageable.pageNumber + 1 }} из {{ trainers.totalPages }} </span>
                    <button type="button" class="pagination-btn" @click="nextPageTrainer" :disabled="trainers.last">></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
  <div class="button-container">
    <button class="complite" type="submit">Сформировать абонемент</button>
  </div>
</form>
</template>

<style scoped>
.tables{
  width: 50%;
}
.checkbox-input {
    appearance: none;
    background-color: white;
    border: none;
    color: white;
    width: 20px;
    height: 20px;
    position: relative;
}

.checkbox-input:checked::before {
    content: '✔';
    position: absolute;
    color: #AB82FF;
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  .info {
    font-size: 1.5em;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }
  .info h2 {
    margin: 0.5em 0 0 0;
    font-style: italic;
    font-weight: 900;
    font-size: 3em;
    font-family: monospace;
  }
  .button-container {
    margin-top: 30px;
    font-family: monospace, sans-serif;
    text-align: center;
  }
  .check-promo{ 
    font-size: 0.5em;
    padding: 10px 20px;
    font-family: monospace, sans-serif;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .complite{ 
    font-size: 1.5em;
    padding: 20px 30px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .input-group {
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }
  .user-info{
    font-family: monospace, sans-serif;
    font-size: 3em;  
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  .sub-form{
    display: flex;
  }
  .pagination span {
    margin: 0 10px;
  }
  .pagination-btn {
    height: auto;
    width: 20px;
    font-size: 1.2em;
    background-color: #AB82FF;
    border: none;
  }
  
  .pagination {
    justify-content:end;
    display: flex;
    align-items: center;
    margin-right: 5%;
  } 
  
  .table-container {
    font-family: monospace,sans-serif;
    margin-top: 2em;
    margin: 5px;
    overflow-x: auto;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
    color: #fff;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #ac82ff3f;
  }
</style>

<script>
import axios from 'axios';

export default {
  name: 'Services',
  data() {
    return {
      promoStatus: false,
      price: 0,
      firstName: '',
      lastName: '',
      email: '',
      countMonth: 1,
      promoCode: '',
      services: [],
      trainers: [],
      halls: [],
      selectedServices: {},
      selectedTrainers: {},
      selectedHalls: {},
    };
  },
  async created() {
    axios.get('http://localhost:8080/vgrade/api/halls?size=5')
    .then(response => {
      this.halls = response.data;
    });
    axios.get('http://localhost:8080/vgrade/api/trainers?size=5')
    .then(response => {
      this.trainers = response.data;
    });
    
    axios.get('http://localhost:8080/vgrade/api/services?size=5')
    .then(response => {
      this.services = response.data;
    });
  },
  methods: {
    checkPromo(){
      axios.get(`http://localhost:8080/vgrade/api/promocodes/${this.promoCode}`)
      .then(response => {this.promoStatus = true})
      .catch(error => {window.alert("Промокод не существует или истёк")});
    },
    submitForm() {
      const selectedHallsIds = Object.keys(this.selectedHalls).filter(key => this.selectedHalls[key]);
      const selectedTrainersIds = Object.keys(this.selectedTrainers).filter(key => this.selectedTrainers[key]);
      const selectedServicesIds = Object.keys(this.selectedServices).filter(key => this.selectedServices[key]);

      if (selectedHallsIds.length === 0){
        window.alert("Выберете хотя бы один зал!");
        throw new Error("Зал не выбран");
      }
      if (this.promoCode !== '' && this.promoStatus === false) {
        window.alert("Проведите промокод или удалите его!");
        throw new Error("Промокод не действителен");
      }
      const data = {
        countMonth: this.countMonth,
        firstName: this.firstName,
        lastName: this.lastName,
        email: this.email,
        promoCode: this.promoCode || null,
        hallsIds: selectedHallsIds,
        trainersIds: selectedTrainersIds,
        servicesIds: selectedServicesIds
      };
      
      axios.post('http://localhost:8080/vgrade/api/subscriptions/new-sub', data)
      .then(response => {
        console.log(response);
        window.alert("Абонемент сформирован и отправлен вам на почту!");
        this.$router.push('/main');
      })
      .catch(error => {
        console.error(error);
      });
    },
    
    
    async fetchHalls(page = 0) {
      const response = await axios.get(`http://localhost:8080/vgrade/api/halls?size=5&page=${page}`);
      this.halls = response.data;
    },
    nextPageHall() {
      this.fetchHalls(this.halls.pageable.pageNumber + 1);
    },
    prevPageHall() {
      this.fetchHalls(this.halls.pageable.pageNumber - 1);
    },
    async fetchTrainers(page = 0) {
      const response = await axios.get(`http://localhost:8080/vgrade/api/trainers?size=5&page=${page}`);
      this.trainers = response.data;
    },
    nextPageTrainer() {
      this.fetchTrainers(this.trainers.pageable.pageNumber + 1);
    },
    prevPageTrainer() {
      this.fetchTrainers(this.trainers.pageable.pageNumber - 1);
    },
  async fetchServices(page = 0) {
    const response = await axios.get(`http://localhost:8080/vgrade/api/services?size=5&page=${page}`);
    this.services = response.data;
  },
  nextPageService() {
    this.fetchServices(this.services.number + 1);
  },
  prevPageService() {
    this.fetchServices(this.services.number - 1);
  },
},
}
</script>