<template>
    <div class="subscription-page">
        <h1>Страница абонемента</h1>
        <div class="input-group">
            <p class="value">Клиент: {{ subscription.lastName }} {{ subscription.firstName }}</p>
        </div>
        <div class="input-group">
            <p class="value">Действителен до: {{ subscription.activityBefore }}</p>
        </div>
        <div class="input-group">
            <p class="value">Стоимость: {{ subscription.price }}₽</p>
        </div>
            <h2>Залы</h2>
      <div class="halls">
        <ul>
          <li v-for="hall in subscription.halls" :key="hall.hallId">
            {{ hall.name }}
          </li>
        </ul>
      </div>
      <h2>Тренеры</h2>
      <div class="trainers">
        <ul>
          <li v-for="trainer in subscription.trainers" :key="trainer.trainerId">
            {{ trainer.lastName }} {{ trainer.firstName }} {{ trainer.patronymic }}
          </li>
        </ul>
      </div>
      <h2>Услуги</h2>
      <div class="services">
        <ul>
          <li v-for="service in subscription.services" :key="service.serviceId">
            {{ service.serviceName }}
          </li>
        </ul>
      </div>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    name: 'Subscription',
    data() {
      return {
        subscription: {},
      };
    },
    async created() {
      const subscriptionId = this.$route.params.id;
      const response = await axios.get(`http://localhost:8080/vgrade/api/subscriptions/${subscriptionId}`);
      this.subscription = response.data;
    },
  };
  </script>
  
  <style scoped>
  .value{
    width: auto;
  }
  .subscription-page h1{
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .subscription-page {
    font-family: monospace, sans-serif;
    font-size: 2em;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 20px;
  }
  
  .input-group {
    display: flex;
    margin-bottom: 20px;
  }
  
  .halls, .trainers, .services {
    display: flex;
  }
  
  button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  </style>
  