<template>
    <div class="info">
      <h2>АБОНЕМЕНТЫ</h2>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ФИО владельца</th>
            <th>Действителен до</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="subscription in subscriptions.content" :key="subscription.subscriptionId">
            <router-link class="sub-router" :to="`/admin/subscriptions/${subscription.subscriptionId}`">
                <td>
                    {{ subscription.lastName }} {{ subscription.firstName }}
                </td>
            </router-link>
            <td>{{ subscription.activityBefore }}</td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="pagination">
                <button class="pagination-btn" @click="prevPage" :disabled="subscriptions.first"><</button>
                <span v-if="subscriptions.pageable">{{ subscriptions.pageable.pageNumber + 1 }} из {{ subscriptions.totalPages }} </span>
                <button class="pagination-btn" @click="nextPage" :disabled="subscriptions.last">></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    name: 'Subscriptions',
    data() {
      return {
        subscriptions: [],
        searchQuery: '',
      };
    },
    async created() {
      const response = await axios.get('http://localhost:8080/vgrade/api/subscriptions');
      this.subscriptions = response.data;
    },
    methods: {
        async fetchSubscriptions(page = 0) {
            const response = await axios.get(`http://localhost:8080/vgrade/api/subscriptions?page=${page}`);
            this.subscriptions = response.data;
        },
        nextPage() {
            this.fetchSubscriptions(this.subscriptions.pageable.pageNumber + 1);
        },
        prevPage() {
            this.fetchSubscriptions(this.subscriptions.pageable.pageNumber - 1);
        }
    },
}
  </script>
  
  <style scoped>
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .search-bar button{
    color: white;
    border: none;
    margin-left: 10px;
    padding: 10px;
    background-color: black;
    }
input {
    width: 30%;
    padding: 10px;
    margin-top: 5px;
}
  .sub-router{
    color: white;
    text-decoration: none;
  }
  .info {
      font-size: 1.5em;
      align-items: center;
      text-align: center;
  }
  .info h2 {
      margin: 0.5em 0 0 0;
      font-style: italic;
      font-weight: 900;
      font-size: 3em;
      font-family: monospace;
  }
  
  .pagination span {
    margin: 0 10px;
  }
  .pagination-btn {
    height: auto;
    width: 20px;
    font-size: 1.2em;
    background-color: #AB82FF;
    border: none;
  }
  
  .pagination {
    justify-content:end;
    display: flex;
    align-items: center;
    margin-right: 5%;
  }  
  
  .table-container {
    margin-top: 2em;
    margin-left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: 40%;
    overflow-x: auto;
  }
  table {
    font-family: monospace, sans-serif;
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
    color: #fff;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
  }
  
  tbody {
    font-family: monospace;
    font-size: 1.3em;
  }
  
  tr:nth-child(even) {
    background-color: #ac82ff3f;
  }
  </style>
  