<template>
    <div class="add-promocode">
      <h1>Генерация промокода</h1>
      <form @submit.prevent="submitForm">
        <div class="input-group">
          <label for="discount">*Скидка</label>
          <input id="discount" v-model.number="discount" type="number" min="1" max="100" required>
        </div>
        <div class="input-group">
          <label for="countUse">Количество использований</label>
          <input id="countUse" v-model.number="countUse" type="number" min="0">
        </div>
        <div class="input-group">
          <label for="activityBefore">*Активность до</label>
          <input id="activityBefore" v-model="activityBefore" type="date" required>
        </div>
        <button type="submit">Сгенерировать промокод</button>
      </form>
    </div>
  </template>

<script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        discount: '',
        countUse: '',
        activityBefore: '',
      };
    },
    methods: {
      submitForm() {
        const params = {
            'discount': this.discount,
            'countUse': this.countUse,
            'activityBefore': this.activityBefore,
        };
        axios.post('http://localhost:8080/vgrade/api/promocodes/new-code', params, {
            headers: {
                'Content-Type': 'application/json'
            }
          }).then(() => {
                    this.$router.push('/admin/promocodes');
                });
        }
      },
    };
  </script>

<style scoped>
.add-promocode {
  font-family: monospace, sans-serif;
  font-size: 3em;  
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.input-group {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}
</style>