<template>
    <div class="topic">
      <h1 class="title">Скидки</h1>
      <p class="description">Используйте наши промокоды для получения скидок!</p>
    </div>
    <div class="info">
        <h1 id="promo-title">СПОРТ</h1>
        <h2>ПРОМОКОДЫ</h2>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Код</th>
            <th>Скидка</th>
            <th>Активен до</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="promocode in promocodes.content" :key="promocode.idCode">
            <td>{{ promocode.codeValue }}</td>
            <td>{{ promocode.discount }}%</td>
            <td>{{ promocode.activityBefore }}</td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="pagination">
                <button class="pagination-btn" @click="prevPage" :disabled="promocodes.first"><</button>
                <span v-if="promocodes.pageable">{{ promocodes.pageable.pageNumber + 1 }} из {{ promocodes.totalPages }} </span>
                <button class="pagination-btn" @click="nextPage" :disabled="promocodes.last">></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </template>
  
<script>
  import axios from 'axios';
  
  export default {
      name: 'Promocodes',
      data() {
          return {
              promocodes: [],
            };
        },
        async created() {
            const response = await axios.get('http://localhost:8080/vgrade/api/promocodes');
            const currentDate = new Date();
            this.promocodes = response.data;
            this.promocodes.content = this.promocodes.content.filter(promocode => {
                const activityBeforeDate = new Date(promocode.activityBefore);
                return activityBeforeDate > currentDate && (promocode.countUse === null || promocode.countUse !== 0);
            });
        },
        methods: {
            async fetchPromocodes(page = 0) {
                const response = await axios.get(`http://localhost:8080/vgrade/api/promocodes?page=${page}`);
                this.promocodes = response.data;
            },
            nextPage() {
        this.fetchPromocodes(this.promocodes.number + 1);
    },
    prevPage() {
      this.fetchPromocodes(this.promocodes.number - 1);
    },
  },
}
</script>

<style scoped>
#promo-title{
  -webkit-text-stroke: 1px black;
  font-family: monospace, sans-serif;
  left: 50%;
  top: 75%;
  transform: translateX(-50%);
  text-align: center;
  position: absolute;
  font-style: italic;
  font-weight: 900;
  color: white;
}
.info {
    font-size: 1.5em;
    align-items: center;
    text-align: center;
  }
  .info h2 {
    margin: 2em 0 0 0;
    font-style: italic;
    font-weight: 900;
    font-size: 3em;
    font-family: monospace;
  }
  .pagination span {
    margin: 0 10px;
  }
  .pagination-btn {
    height: auto;
    width: 20px;
    font-size: 1.2em;
    background-color: #AB82FF;
    border: none;
  }
  
  .pagination {
    justify-content:end;
    display: flex;
    align-items: center;
    margin-right: 5%;
  }  
  
  .topic {
    justify-content: center;
    height: 600px;
    background-image: url("/src/assets/images/promocodes/promoimg.png");
    box-shadow: 0 0 400px 200px rgb(0, 0, 0) inset;
  }
  
  .title {
    left: 13%;
    top: 30%;
    position: absolute;
    font-size: 9em;
    font-family: monospace;
    font-style: italic;
    font-weight: 900;
    color: #AB82FF;
  }
  
  .description {
    left: 50%;
    top: 60%;
    position: absolute;
    font-size: 2em;
    font-family: monospace;
    color: white;
  }
  
  .table-container {
    margin-top: 2em;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
    overflow-x: auto;
  }
  table {
    font-family: monospace, sans-serif;
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
    color: #fff;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #ac82ff3f;
  }
</style>