<template>
  <div class="info">
      <h2>ПРОМОКОДЫ</h2>
  </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Код</th>
            <th>Скидка</th>
            <th>Количество использований</th>
            <th>Активен до</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="promocode in promocodes.content" :key="promocode.idCode">
            <td>{{ promocode.codeValue }}</td>
            <td>{{ promocode.discount }}%</td>
            <td>{{ promocode.countUse || '∞' }}</td>
            <td>{{ promocode.activityBefore }}</td>
            <td class="delete-td">
                <img @click="deletePromocode(promocode.idCode)" src="/src/assets/images/promocodes/garbage.png" alt="garbage">
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <div class="pagination">
                <button class="pagination-btn" @click="prevPage" :disabled="promocodes.first"><</button>
                <span v-if="promocodes.pageable">{{ promocodes.pageable.pageNumber + 1 }} из {{ promocodes.totalPages }} </span>
                <button class="pagination-btn" @click="nextPage" :disabled="promocodes.last">></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <router-link :to="`/admin/promocodes/new`">
      <button class="new-promocode">
        Сгенерировать промокод
      </button>
    </router-link>
  </template>
  
<script>
  import axios from 'axios';
  
  export default {
    name: 'Promocodes',
    data() {
      return {
        promocodes: [],
      };
    },
    async created() {
      const response = await axios.get('http://localhost:8080/vgrade/api/promocodes');
      this.promocodes = response.data;
    },
    methods: {
      deletePromocode(idCode) {
        if (window.confirm('Вы уверены, что хотите удалить этот промокод?')) {
          axios.delete(`http://localhost:8080/vgrade/api/promocodes/${idCode}`)
          .then(() => {
            this.fetchPromocodes(this.promocodes.pageable.pageNumber);
          });
        }
      },
      async fetchPromocodes(page = 0) {
        const response = await axios.get(`http://localhost:8080/vgrade/api/promocodes?page=${page}`);
        this.promocodes = response.data;
      },
      nextPage() {
        this.fetchPromocodes(this.promocodes.pageable.pageNumber + 1);
      },
      prevPage() {
        this.fetchPromocodes(this.promocodes.pageable.pageNumber - 1);
      },
    },
  }
  </script>
  
<style scoped>
  .info {
    font-size: 1.5em;
    align-items: center;
    text-align: center;
}
.info h2 {
    margin: 0.5em 0 0 0;
    font-style: italic;
    font-weight: 900;
    font-size: 3em;
    font-family: monospace;
}
  .delete-td{
    width: 50px;
  }
  .delete-td img{
    width: 50px;
  }
  .new-promocode{
    margin-left: 70%;
    margin-top: 2em;
    border: none;
    padding: 20px;
    background-color: black;
  }
  .promocode-router, .new-promocode{
    color: white;
    text-decoration: none;
  }
  
  .pagination span {
    margin: 0 10px;
  }
  .pagination-btn {
    height: auto;
    width: 20px;
    font-size: 1.2em;
    background-color: #AB82FF;
    border: none;
  }
  
  .pagination {
    justify-content:end;
    display: flex;
    align-items: center;
    margin-right: 5%;
  }  
  
  .table-container {
    margin-top: 2em;
    margin-left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: 50%;
    overflow-x: auto;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
    color: #fff;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
  }
  
  tbody {
    font-family: monospace;
    font-size: 1.3em;
  }
  
  tr:nth-child(even) {
    background-color: #ac82ff3f;
  }
  </style>
  