<template>
    <div class="add-trainer">
      <h1>Добавление нового тренера</h1>
      <form @submit.prevent="submitForm()">
        <div class="input-group">
          <label for="lastName">Фамилия</label>
          <input id="lastName" v-model="lastName" type="text" required>
        </div>
        <div class="input-group">
          <label for="firstName">Имя</label>
          <input id="firstName" v-model="firstName" type="text" required>
        </div>
        <div class="input-group">
          <label for="patronymic">Отчество</label>
          <input id="patronymic" v-model="patronymic" type="text">
        </div>
        <div class="input-group">
          <label for="expertise">Специализация</label>
          <input id="expertise" v-model="expertise" type="text" required>
        </div>
        <div class="input-group">
          <label for="numberPhone">Номер телефона</label>
          <input id="numberPhone" v-model="numberPhone" type="tel" v-mask="'+7(###)-###-##-##'" required>
        </div>
        <div class="input-group">
          <label for="experience">Опыт (в годах)</label>
          <input id="experience" v-model="experience" type="number" required>
        </div>
        <button type="submit">Добавить</button>
      </form>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  import { mask } from 'vue-the-mask';
  
  export default {
    directives: { mask },
    data() {
      return {
          lastName: '',
          firstName: '',
          patronymic: '',
          expertise: '',
          numberPhone: '',
          mask: '+7(###)-###-##-##',
          experience: '',
      };
    },
    computed: {
        isFormValid() {
            return this.lastName && this.firstName && this.patronymic && this.experience && this.numberPhone && this.experience;
        }
    },
    methods: {
      submitForm() {
        if (this.numberPhone.length !== this.mask.length) {
          window.alert('Номер телефона некорректен!');
          throw new Error('Номер телефона некорректен');
        }
        const params = {
            'lastName': this.lastName,
            'firstName': this.firstName,
            'patronymic': this.patronymic,
            'expertise': this.expertise,
            'numberPhone': this.numberPhone,
            'experience': this.experience
        };
        axios.post('http://localhost:8080/vgrade/api/trainers/new-trainer', params, {
            headers: {
                'Content-Type': 'application/json'
            }
          }).then(() => {
                    this.$router.push('/admin/trainers');
                });
        }
      },
    };
  </script>
  
  <style scoped>
  .add-trainer {
    max-width: 600px;
    font-family: monospace, sans-serif;
    font-size: 1.7em;  
    margin: 0 auto;
    padding: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  </style>
  