<template>
  <div class="info">
      <h2>ТРЕНЕРА</h2>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ФИО</th>
          <th>Направление</th>
          <th>Номер телефона</th>
          <th>Опыт</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="trainer in trainers.content" :key="trainer.serviceName">
          <router-link class="trainer-router" :to="`/admin/trainers/${trainer.trainerId}`">
            <td>
              {{ trainer.lastName }} {{ trainer.firstName }} {{ trainer.patronymic }}
            </td>
          </router-link>
          <td>{{ trainer.expertise }}</td>
          <td>{{ trainer.numberPhone }}</td>
          <td>{{ trainer.experience }}</td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="pagination">
              <button class="pagination-btn" @click="prevPage" :disabled="trainers.first"><</button>
              <span v-if="trainers.pageable">{{ trainers.pageable.pageNumber + 1 }} из {{ trainers.totalPages }} </span>
              <button class="pagination-btn" @click="nextPage" :disabled="trainers.last">></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <router-link :to="`/admin/trainers/new`">
    <button class="new-trainer">
      Добавить тренера
    </button>
  </router-link>
</template>
<script>
import axios from 'axios';

export default {
  name: 'Trainers',
  data() {
    return {
      trainers: [],
    };
  },
  async created() {
    const response = await axios.get('http://localhost:8080/vgrade/api/trainers');
    this.trainers = response.data;
  },
  methods: {
    async fetchServices(page = 0) {
      const response = await axios.get(`http://localhost:8080/vgrade/api/trainers?page=${page}`);
      this.trainers = response.data;
    },
    nextPage() {
      this.fetchServices(this.trainers.pageable.pageNumber + 1);
    },
    prevPage() {
      this.fetchServices(this.trainers.pageable.pageNumber - 1);
    },
  },
}
</script>

<style scoped>
.info {
    font-size: 1.5em;
    align-items: center;
    text-align: center;
}
.info h2 {
    margin: 0.5em 0 0 0;
    font-style: italic;
    font-weight: 900;
    font-size: 3em;
    font-family: monospace;
}
.new-trainer{
  margin-left: 70%;
  margin-top: 2em;
  border: none;
  padding: 20px;
  background-color: black;
}
.trainer-router, .new-trainer{
  color: white;
  text-decoration: none;
}

.pagination span {
  margin: 0 10px;
}
.pagination-btn {
  height: auto;
  width: 20px;
  font-size: 1.2em;
  background-color: #AB82FF;
  border: none;
}

.pagination {
  justify-content:end;
  display: flex;
  align-items: center;
  margin-right: 5%;
}  

.table-container {
  margin-top: 2em;
  margin-left: 50%;
  transform: translateX(-50%);
  height: auto;
  width: 80%;
  overflow-x: auto;
}
table {
  font-family: monospace, sans-serif;
  width: 100%;
  border-collapse: collapse;
  background-color: #333;
  color: #fff;
}

th, td {
  padding: 15px;
  text-align: left;
}

tbody {
  font-family: monospace;
  font-size: 1.3em;
}

tr:nth-child(even) {
  background-color: #ac82ff3f;
}
</style>