<template>
  <h1>Страница тренера</h1>
  <div class="trainer-page">
      <div>
        <div v-for="(value, key) in trainer" :key="key" class="input-group">
          <input v-if="editField === key" v-model="trainer[key]" :id="key" class="edit-input" type="text">
          <p class="value" v-else v-if="key !== 'trainerId' && key !== 'halls'">{{ value }}</p>
          <button v-if="editField === key" @click="saveField">Сохранить</button>
          <button v-if="editField === key" @click="cancelEdit">Отмена</button>
          <button v-else @click="editField = key" v-if="key !== 'trainerId' && key !== 'halls'">Изменить</button>
        </div>
        <button @click="deleteService">Удалить</button>
      </div>
      <div>
        <h2>Залы</h2>
        <div class="halls">
          <ul>
            <li v-for="hall in halls" :key="hall.id">
              {{ hall.name }}
            </li>
          </ul>
        </div>
        <div>
          <h2 v-if="showAddHall">Выберете залы</h2>
          <button v-if="!showAddHall" @click="showAddHall = true">Добавить залы</button>
          <div v-if="showAddHall">
            <ul>
              <li v-for="hall in allHalls.content" :key="hall.hallId" class="halls-list">
                {{ hall.name }}
                <input type="checkbox" class="checkbox-input" :value="hall.hallId" v-model="selectedHalls">
              </li>
              <div class="pagination">
                <button class="pagination-btn" @click="prevPage" :disabled="allHalls.first"><</button>
                <span v-if="allHalls.pageable">{{ allHalls.pageable.pageNumber + 1 }} из {{ allHalls.totalPages }} </span>
                <button class="pagination-btn" @click="nextPage" :disabled="allHalls.last">></button>
              </div>
            </ul>
            <button @click="addHalls">Сохранить</button>
            <button @click="showAddHall = false">Отмена</button>
          </div>
        </div>
      </div>
    </div>
</template>
  
  <script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        trainer: {},
        halls: [],
        mask: '+7(###)-###-##-##',
        editField: null,
        allHalls: [],
        selectedHalls: [],
        showAddHall: false,
      };
    },
    async created() {
      const trainerId = this.$route.params.id;
      const response = await axios.get(`http://localhost:8080/vgrade/api/trainers/${trainerId}`);
      this.trainer = response.data;
      this.halls = response.data.halls;
      this.halls = response.data.halls;
      const hallsResponse = await axios.get('http://localhost:8080/vgrade/api/halls?size=5');
      this.allHalls = hallsResponse.data;
    },
    methods: {
      async fetchHalls(page = 0) {
      const response = await axios.get(`http://localhost:8080/vgrade/api/halls?size=5&page=${page}`);
      this.allHalls = response.data;
      },
      nextPage() {
        this.fetchHalls(this.allHalls.number + 1);
      },
      prevPage() {
        this.fetchHalls(this.allHalls.number - 1);
      },
      deleteService() {
            if (window.confirm('Вы уверены, что хотите удалить тренера?')) {
                axios.delete(`http://localhost:8080/vgrade/api/trainers/${this.trainer.trainerId}`)
                .then(() => {
                    this.$router.push('/admin/trainers');
                });
            }
        },  
      saveField() {
        if (this.editField === 'numberPhone' && this.trainer[this.editField].length !== this.mask.length) {
          window.alert(`Номер телефона некорректен! "+7(999)-999-99-99"`);
          throw new Error('Номер телефона некорректен');
        }
        const params = {
            [this.editField]: this.trainer[this.editField]
        }
        axios.patch(`http://localhost:8080/vgrade/api/trainers/${this.trainer.trainerId}`, params, {
            headers: {
                'Content-Type': 'application/json'
            }
          });
        console.log(this.trainer);
        this.editField = null;
      },
      cancelEdit(){
        this.editField = null;
      },
      async addHalls() {
      await axios.patch(`http://localhost:8080/vgrade/api/trainers/${this.trainer.trainerId}/add-hall`, { hallIds: this.selectedHalls }, {
        headers: {
          'Content-Type': 'application/json'
        }
      });
      this.showAddHall = false;
      this.selectedHalls = [];
      const response = await axios.get(`http://localhost:8080/vgrade/api/trainers/${this.trainer.trainerId}`);
      this.halls = response.data.halls;
    }
    },
  };
  </script>
  
<style scoped>
  .tables{
    width: 50%;
  }
  .checkbox-input {
    width: 20px;
  }
  
  .halls-list{
    justify-content: space-between;
    display: flex;
  }
  .edit-input {
    width: 500px;
  }
  
  .trainer-page {
    display: flex;
    font-family: monospace, sans-serif;
    justify-content: space-between;
    margin: 0 17%;
    font-size: 2.5em;
    padding: 20px;
  }
  .value{
    width: 500px;
  }
  
  .input-group {
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }
  .halls{
    display: flex;
  }
  
  h1{
    margin-top: 2ex;
    text-align: center;
    font-family: monospace, sans-serif;
    font-size: 3em;
  }
  
  button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  </style>
  