<template>
    <div class="topic">
        <h1 class="title">ТОЛЬКО ПРОФФЕСИОНАЛЫ</h1>
        <p>С вами будут работать только квалифицированные тренера</p>
    </div>
    <div class="info">
        <h1 id="trainer-title">СПОРТ</h1>
        <h2>ТРЕНЕРА</h2>
    </div>
    <div class="table-container">
    <table>
        <thead>
        <tr>
          <th>ФИО</th>
          <th>Направление</th>
          <th>Номер телефона</th>
          <th>Опыт</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="trainer in trainers.content" :key="trainer.trainerId">
          <td>{{ trainer.lastName }} {{ trainer.firstName }} {{ trainer.patronymic }}</td>
          <td>{{ trainer.expertise }}</td>
          <td>{{ trainer.numberPhone }}</td>
          <td>{{ trainer.experience }}</td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="pagination">
              <button class="pagination-btn" @click="prevPage" :disabled="trainers.first"><</button>
              <span v-if="trainers.pageable">{{ trainers.pageable.pageNumber + 1 }} из {{ trainers.totalPages }} </span>
              <button class="pagination-btn" @click="nextPage" :disabled="trainers.last">></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'Trainers',
    data() {
    return {
      trainers: [],
    };
  },
  async created() {
    const response = await axios.get('http://localhost:8080/vgrade/api/trainers');
    this.trainers = response.data;
  },
  methods: {
    async fetchTrainers(page = 0) {
      const response = await axios.get(`http://localhost:8080/vgrade/api/trainers?page=${page}`);
      this.trainers = response.data;
    },
    nextPage() {
      this.fetchTrainers(this.trainers.pageable.pageNumber + 1);
    },
    prevPage() {
      this.fetchTrainers(this.trainers.pageable.pageNumber - 1);
    },
  },
}
</script>

<style scoped>
#trainer-title{
    -webkit-text-stroke: 1px black;
    font-family: monospace, sans-serif;
    left: 50%;
    top: 75%;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
    font-style: italic;
    font-weight: 900;
    color: white;
}
.info {
    font-size: 1.5em;
    align-items: center;
    text-align: center;
}
.info h2 {
    margin: 2em 0 0 0;
    font-style: italic;
    font-weight: 900;
    font-size: 3em;
    font-family: monospace;
}
  .pagination span {
    margin: 0 10px;
  }
  .pagination-btn {
    height: auto;
    width: 20px;
    font-size: 1.2em;
    background-color: #AB82FF;
    border: none;
  }

  .pagination {
    justify-content:end;
    display: flex;
    align-items: center;
    margin-right: 5%;
  }  

  .topic p {
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 2em;
    text-align: center;
    color: white;
    font-family: monospace;
  }
  .topic {
    height: 600px;
    background-image: url("/src/assets/images/trainers/trainersimg.png");
    box-shadow: 0 0 500px 250px rgb(0, 0, 0) inset;
  }

  .title {
    left: 13%;
    top: 20%;
    position: absolute;
    font-size: 9em;
    width: 9em;
    font-family: monospace;
    font-style: italic;
    font-weight: 900;
    color: #AB82FF;
  }

  .table-container {
    margin-top: 2em;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
    overflow-x: auto;
  }
  table {
    font-family: monospace, sans-serif;
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
    color: #fff;
  }

  th, td {
    padding: 15px;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #ac82ff3f;
  }
</style>