<template>
    <footer class="footer">
      <div class="contact-info">
        <div class="info">
          <h2>Телефон:</h2>
          <h2>+79991233456</h2>
        </div>
        <div class="info">
          <h2>АДРЕС:</h2>
          <h2>г. Краснодар, ул. Забавная, д. 322</h2>
        </div>
      </div>
    </footer>
</template>
  
<script>
  export default {
    name: 'Footer',
  }
</script>
  
<style scoped>
  .footer {
    justify-content: center;
    padding: 20px;
  }
  
  .contact-info {
    text-align: center;
    justify-content: space-between;
    display: flex;
    font-family: monospace;
    font-size: large;
    padding: 20px 20%;
  }

  .info {
    justify-content: center;
    display: flex
  }
</style>
  