<template>
    <div class="app-bar">
      <div class="left">
        <router-link v-if="$route.path.includes('/admin')" to="/main" class="enter-button">Режим администратора</router-link>
        <router-link v-else to="/admin/trainers" class="enter-button">Режим пользователя</router-link>
        <router-link class="main-h1" to="/main"><h1>V-GRADE</h1></router-link>
      </div>
      <div class="center">
        <nav>
          <router-link v-if="!$route.path.includes('/admin')" to="/main" class="nav-button">Главная</router-link>
          <router-link v-if="$route.path.includes('/admin')" to="/admin/trainers" class="nav-button">Тренера</router-link>
          <router-link v-else to="/trainers" class="nav-button">Тренера</router-link>
          <router-link v-if="$route.path.includes('/admin')" to="/admin/halls" class="nav-button">Залы</router-link>
          <router-link v-else to="/halls" class="nav-button">Залы</router-link>
          <router-link v-if="$route.path.includes('/admin')" to="/admin/services" class="nav-button">Услуги</router-link>
          <router-link v-else to="/services" class="nav-button">Услуги</router-link>
          <router-link v-if="$route.path.includes('/admin')" to="/admin/promocodes" class="nav-button">Промокоды</router-link>
          <router-link v-else to="/promocodes" class="nav-button">Промокоды</router-link>
          <router-link v-if="$route.path.includes('/admin')" to="/admin/subscriptions" class="nav-button">Абонементы</router-link>
        </nav>
      </div>
      <div class="right">
        <router-link v-if="!$route.path.includes('/admin')" to="/create-sub" class="enter-button">Сформировать абонемент</router-link>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    name: 'AppBar',
  }
  </script>
  
  <style scoped>
  .app-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.61);
  }
  
  .left, .center, .right {
    display: flex;
    align-items: center;
  }
  
  .enter-button {
    background-color: white;
    font-family: monospace;
    padding: 0.5em;
    font-size: 1.8em;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: inherit;
    border: 1px, solid, black;
    border-radius: 15px;
  }
  .main-h1{
    text-decoration: none;
  }
  
  .left h1 {
    color: black;
    font-family: monospace;
    font-weight: 1000;
    font-size: 3.5em;
    font-style: italic;
    top: 35%;
    left: 24%;
    margin-right: 20px;
  }

  .center nav {
    display: flex;
    justify-content: center;
    font-family: monospace;
    flex-grow: 1;
  }
  
  .nav-button {
    text-decoration: none;
    color: inherit;
    background-color: white;
    padding: 0.5em;
    font-size: 1.8em;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .enter-button:hover, .nav-button:hover {
    background-color: lightgray;
  }
  </style>