<template>
    <div class="fitness-center">
        <div class="left-side">
            <h1 class="title">ФИТНЕС-ЦЕНТР</h1>
            <router-link to="/create-sub" class="join" id="register-btn">СТАТЬ УЧАСТНИКОМ</router-link>
        </div>
        <h2 class="grade">V-GRADE</h2>
        <div class="right-side">
            <img src="/src/assets/images/main/gigachad.png" class="gigachad" alt="Gym Image">
        </div>
    </div>

    <div class="fitness-plan-div">
      <h1 class="title" id="sport-title">СПОРТ</h1>
      <div class="plans">
        <p>{{ description }}</p>
        <h2>ПЛАНЫ ТРЕНИРОВОК</h2>
      </div>
      <div class="training-plans">
        <div class="plan">
          <div class="plan-text">
            <p>Регулярные тренировки</p>
          </div>
          <img src="/src/assets/images/main/gantels.png" class="plans-images" alt="Training Plan 1">
        </div>
        <div class="plan">
          <div class="plan-text">
            <p>Индивидуальные занятия</p>
            <p>Тренировка 1 на 1</p>
          </div>
          <img src="/src/assets/images/main/training1on1.png" class="plans-images" alt="Training Plan 2">
        </div>
        <div class="plan">
          <div class="plan-text">
            <p>Молодежные программы</p>
            <p>Для детей от 5 лет и старше</p>
          </div>
          <img src="/src/assets/images/main/childsections.png" class="plans-images" alt="Training Plan 3">
        </div>
      </div>
      <router-link to="/create-sub" class="join" id="sign-up-workout">Записаться на занятие</router-link>
  </div>
  <div>
    <div class="plans" id="inventory-div">
      <h2>НАШ ИНВЕНТАРЬ</h2>
      <p>{{ inventory }}</p>
    </div>
  </div>
</template>
  
<script>
  export default {
    name: 'FitnessCenter',
    data(){
      return{
        description: 'V-Grade предлагает разнообразные программы тренировок, чтобы помочь вам достичь ваших целей. Вам доступны индивидуальные и групповые тренировки, которые разработаны профессиональными инструкторами. Вы сможете выбрать программу, которая подходит именно вам и наслаждаться тренировками, которые помогут вам улучшить физическую форму и повысить уровень фитнеса.',
        inventory: 'С V-Grade вы можете воспользоваться современным спортивным инвентарем, который представлен широким ассортиментом оборудования для занятий силовыми и кардиотренажерами. Наши тренажеры и утяжелители различных весовых категорий позволят вам эффективно тренироваться под контролем опытных инструкторов. Кроме того, у нас есть все необходимое оборудование для проведения групповых занятий, таких как йога, пилатес, аэробика и танцы, чтобы каждый мог найти занятие по своему вкусу.',
      }
    }
  }
</script>
  
<style scoped>
  .fitness-center {
    display: flex;
  }
  
  .gigachad{
    height: 100%;
    width: 150%;
  }

  .left-side {
    left: 30%;
    background-color: #AB82FF;
    color: white;
    width: 40%;
    padding: 3em 0;
    justify-content: center;
  }

  .right-side {
    width: 40%;
  }
  
  .fitness-center .title {
    color: black;
  }

  .title {
    font-family: monospace, sans-serif;
    text-align: center;
  }

  .left-side .title {
    font-family: monospace, sans-serif;
    text-align: center;
    font-size: 2.5em;
    margin-top: 5%;
  }
  
  .grade {
    color: white;
    position: absolute;
    font-size: 8em;
    font-family: monospace;
    font-weight: 1000;
    font-style: italic;
    top: 37%;
    left: 24%;
  }

  #register-btn {
    top: 65%;
    left: 14%;
  }
  
  .join {
    font-family: monospace;
    text-decoration: none;
    position: absolute;
    background-color: black;
    font-size: 1.5em;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .fitness-plan-div .title {
    font-size: 3.5em;
  }

  .fitness-plan-div {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
  }

  .plans {
    display: flex;
    font-family: monospace;
    padding: 10%;
  }

  .plans p {
    font-size: 1.5em;
    width: 50%;
  }

  .plans h2 {
    margin: 0 10%;
    font-style: italic;
    font-weight: 900;
    font-size: 4em;
  }

  .training-plans {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
  }
  .plan {
    width: 50px;
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .plan-text {
    width: 270px;
    transform: translateY(-10%);
    position: absolute;
    font-size: 2em;
    font-family: monospace;
    word-wrap: normal;
    color: white;
  }
  .plan-text p {
    width: 100%;
    background-color: #00000079;
    text-align: center;
    margin-top: 50%;
  }

  #sport-title{
    -webkit-text-stroke: 1px black;
    position: absolute;
    font-style: italic;
    font-weight: 900;
    color: white;
  }

  #sign-up-workout{
    top: 197%;
  }

  #inventory-div{
    background-image: url("/src/assets/images/main/inventory.png");
    box-shadow: 0px 100px 400px 200px rgb(255, 255, 255) inset;
  }

</style>