<script setup>
import { useRoute } from 'vue-router';
import MainHeader from './components/Header.vue';
import MainFooter from './components/Footer.vue';

const route = useRoute()

</script>

<template>
    <MainHeader/>
  <router-view />
    <MainFooter/>
</template>

<style scoped>
</style>
